<h1><%=@list.name %></h1>

<ul>
  <%@list.movies.each do |movie|%>
    <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
    <li> Title: <%= movie.title %> </li>
    <p>Overview: <%= movie.overview %> </p>
    <p>Rating: <%= movie.rating %> </p>
    <p>"<%= bookmark.comment %>"</p>
    <%= link_to "Delete Bookmark", delete_bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?' }  %>
  <% end %>
</ul>

<%= render '/bookmarks/form' %>
